.station{
   display: grid;
   grid-template-columns: 4fr 2fr;
   grid-column-gap: 25px;
   
}

.station .columnA{
   margin-top: 25px;     
}

.station .columnB{
   margin-top: 25px;     
}

.stationItem{
  display: grid;
  grid-template-columns: 2fr 6fr 4fr;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.stationItem .logoContainer{
   width: 45px;
    height: 45px;
}

.stationItem .mainInfoColumn h3{
   font-size: 18px;
}

.stationItem .mainInfoColumn .address{
   font-size: 12px;
}

.phoneColumn{
   margin: 10px;
   display: grid;
}

.phoneColumn p{
    margin: auto;
}

.fuelCards{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   text-align: center;
   grid-gap: 20px;
   margin-top: 30px;
}

.fuelCards h2{
   font-weight: normal;
   font-size: 16px;
   margin: 0;
}

.fuelCards h1{
   font-weight: normal;
   font-size: 30px;
   color: #0097A9;
   margin: 0;
   padding-top: 15px;
}

.fuelCards .fuelStats{
   padding-top: 30px;
   padding-bottom: 45px;
}

.features h1{
   font-weight: normal;
   font-size: 20px;
}

.features-list{
   display: flex;
   overflow: auto;
   /* width: 100%; */
   padding: 15px 20px;
}

.features-list img{
   height: 50px;
   width: 50px;
}

.feature{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-right: 40px;
}

.rating-header{
   display: grid;
   grid-template-columns: 1fr 4fr 3fr;
   align-items: center;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.averageRating{
   line-height: 1;
    color: #0097a9;
    font-size: 60px;
    padding: 30px;
}

.rating-container{
   margin-left: 10px;
}
.rating-container span{
   font-size: 14px;
}

.writeReview button{
   background: #0097a9;
   border: 1px solid #0097A9;
   border-radius: 3px;
   font-size: 22px;
   padding: 10px 40px;
}
.reviewContainer{
   padding: 20px 20px;
}
.reviewItemHeader{
   display: grid;
   grid-template-columns: 1fr 2fr;
}
.reviewItemRating img{
   width: 40px;
   height: 40px;
}

.reviewUser{
   display: flex;
   vertical-align: middle;
}

.details{
   padding-left: 18px;
}
.details .name{
   font-weight: bold;
   font-size: 18px;
}
.details .data{
   padding-top: 5px;
   font-size: 14px;
}

.avatar img{
   width: 60px;
   height: 60px;
   border-radius: 60px;
}

.reviewItemContentText{
   padding-top: 50px;
   padding-bottom: 25px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}