.search {
  font-family: "Open Sans", sans-serif;
  display: grid;
}

#cityName {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: "Open Sans", sans-serif;
}

select {
  font-family: "Open Sans", sans-serif;
}

option {
  font-family: "Open Sans", sans-serif;
}

button {
  background: #C14334;
  border: 1px solid #C14334;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 18px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.search input::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}
