body {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	color: #222;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

div {
	box-sizing: border-box;
}

header {
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	padding-bottom: 160px;
}

.container {
	width: 930px;
	margin: 0 auto;
}

.logo {
	margin-top: 41px;
	float: left;

}

nav {
	float: right;
	margin-top: 50px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;
}

.menu li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.titles_first {
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}

h1 {
	font-size: 75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}

h2 {
	text-transform: uppercase;
}

.button {
	background: #fed136;
	color: #484543;
	border-radius: 2px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}

.title {
	padding-top: 115px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin: 0;
}


.title p {
	color: #777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;

}

.services {
	margin-top: 80px;
}

.services__item {
	width: 270px;
	float: left;
	text-align: center;
}

.services__item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.services__item p {
	font-size: 14px;
	color: #777;
	line-height: 1.55em;
}

.services__item:last-child {
	float: right;
}

.services__item:nth-child(2) {
	margin-left: 60px;
}

#services {
	margin-bottom: 120px;
}

#portfolio {
	background: #f7f7f7f7;
	padding-bottom: 120px; 
}

.works {
	margin-top: 70px;
}
.works img {
	float: left;
}

.works img:last-child {
	float: right;
}

.works img:nth-child(2) {
	margin-left: 29px;
}

#about-us {
	display: flex;
	flex-direction: column;
	align-content: center;
}

#about-us .title{
	padding-bottom: 50px;
}

.about-us-center {
	display: flex;
	justify-content: center;
} 

#about-us .about-us {
		width: 20%;
		text-align: right;
		margin-right: 20px;
}

.about-us-margin{
	margin-left: 20px;
}

.about-us-margin p, .about-us-margin h3, .about-us-margin h4{
	text-align: left;
}

.about-us-center h4, .about-us-center h3 {
	margin: 0;
	line-height: 1.2;
	padding: 5px 0px;
	font-size: 18px;
}

.about-us-center h3 {
	text-transform: uppercase;
}


.about-us-center p {
	padding: 0px;
	margin: 0;
	font-size: 14px;
	line-height: 1.5;
}

#about-us p{
	color: #777777;
}

.month {
	padding-bottom: 50px;
}

.copy {
	text-align: center;
	color: #555555;
	padding: 100px;
	font-size: 14px;
	
}

.padding-img-left {
	padding-left: 400px;
}

.padding-img-right {
	padding-right: 420px;
	
}
