.containerRegister{
    margin: 0 auto;
    width: 860px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
 }
 
 .column-A{
    text-align: center;
    margin-top: 50px;
    padding: 0 50px;
 }
 
 .inputs input{
   margin: 10px 0;
   box-shadow: none;
   width: 100%;
 }
 input:focus{
  outline-width: 0;
 }
 
 .column-B-reg{
    background-image: url('../../assets/auth/Register.png');
    background-size: cover;
    /* background-position: right; */
 }
 
 .titleRegister{
    font-size: 56px;
    color: #76BF38;
 }

 .signUpBtn{
   margin: 5px;
   background-color:  #76BF38;
   color: white;
   padding: 10px 0;
   border: 0;
   border-radius: 5px;
   width:100%;
 }
 .forma{
   margin-bottom: 20px;
 }