/* .containerRegister{
    margin: 0 auto;
    width: 960px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 50px;
 }
 
 .column-A{
    text-align: center;
    margin-top: 86px;
   margin-bottom: 250px;

 }
 
 .inputs input{
    display:  block;
    margin: 0 auto;
 }
 h6{
    margin: 10px;
 }
 
 .column-B-reg{
    background-image: url('../../assets/Register.png');
    background-size: cover;
 }
 
 .titleRegister{
    font-size: 64px;
<<<<<<< HEAD
 } */
=======
 } */
>>>>>>> 894be26b7a3c1f5f5c2483319b9e69ad972a3aa0
