footer{
   text-align: center;
   background: #0097A9;
   color: #fff;
}

.social-media img{
   height: 32px;
   margin: 40px 20px 0 20px;
}

.navigations{
   margin-left: -40px;
}

.navigations li{
   list-style: none;
   font-size: 18px;
   display: inline;
   margin: 0 10px;
}

.navigations a{
   text-decoration: none; 
   color: #fff;
}

.bottom img{
   vertical-align: middle;
   margin-right: 30px

}

.bottom p{
   display: inline-block;
   font-size: 14px;
}