@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree");

h6 {
  margin: 10px;
  color: gray;
  font-weight: 300;
  font-size: 14px;
}

.containerLogin {
  margin: 0 auto;
  margin-top: 50px;
  width: 860px;
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.containerLogin .content{
  margin-bottom: 130px;
}

.signInBtn{
  margin: 5px;
  background-color:  #00a2a2 ;
  color: white;
  padding: 10px 0;
  border: 0;
  border-radius: 5px;
  width:100%;
}

.content {
  width: 350px;
  margin: 0 auto;
}

.column-B {
  background: blue;
}

.titleLogin {
  font-size: 64px;
}

form {
  position: relative;
  display: block;
}

input {
  border: 0;
  font-size: 14px;
  padding: 5px 5px;
  border-bottom: 1px solid #d8d8d8;
}


.signIn {
  margin: 0 auto;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #00a2a2;
  color: white;
  border-radius: 5px;
  border-color: #00a2a2;
  font-size: 15px;
}

.titleLogin{
  font-size: 56px;
  color: #00a2a2;
}

.column-B-login{
  background-image: url('../../assets/auth/Login.png');
  background-size: cover;
}
